<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="latest-blog" class="py-5" style="background-image: url('{% static 'images/background-pattern.jpg' %}');background-repeat: no-repeat;background-size:cover;">
<div class="container-fluid mx-5 ">
<h2 class="text-center my-3 fw-bold"  style="font-family: EamesBold;">Add Stock</h2>
<form method="POST" enctype="multipart/form-data" class="mx-4">
  {% csrf_token %}
<div class=" mx-3 my-2">
  <input type="number" class="form-control" value="{{product.stock}}" name="n" placeholder="stock">
</div>


<div class=" mx-3">
<input type="submit" class="form-control">
</div>
</form>
</div>
</section>

{% endblock %}