<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="latest-blog" class="py-5" style="background-image: url('{% static 'images/background-pattern.jpg' %}');background-repeat: no-repeat;background-size:cover;">

    {% if product == None %}
    <form></form>
    {% else %}
<h2 class="text-center my-2"  style="font-family: EamesBold;">You have searched for {{query}}</h2>
    <div class="container-fluid">
        <div class="row">
        {% for i in product %}
              <div class="col-md-4">
                <article class="post-item card border-1 shadow-sm p-3 my-1">
                  <div class="image-holder zoom-effect">
                    <a href="#">
                      <img src="{{i.image.url}}" alt="post" class="card-img-top" height="350px">
                    </a>
                  </div>
                  <div class="card-body text-center">
                    <div class="post-header">
                      <h3 class="post-title">{{i.name}}
                      </h3>
                        <p><i class="fa-solid fa-indian-rupee-sign"></i>{{i.price}}</p>
                        <a href="{% url 'shop:product_details' i.id %}" class="btn btn-outline-secondary ">Details</a>
                    </div>
                  </div>
                </article>
              </div>
            {% empty %}
                     <h2 class="text-center my-2"  style="font-family: EamesBold;">No results found</h2>
        {% endfor %}
        </div>
    </div>

    {% endif %}
</section>
{% endblock %}